!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
      var uiPort = !{port} 
      var clientId = !{clientId} 
      console.log(uiPort)
    script(src='/js/jq.1.8.3.js')
    script(src='/js/sb.js')
    script(src='/js/front_end.js')
    script(src='/js/main.js')
  body
    header
      h1 #{title}
      h2 #{subTitle}
    .container
      #query_form
        block query_bar
      #query_results
        block query_results
    #templates hidden
      block query_item
    footer
      p Running on node with Express, Jade and Stylus